
.vis{ background:lightsalmon; } 
.blend-out { opacity: .25 }
.header { background: #3b5771; color: whitesmoke; padding: 0; margin: 0; }
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently by Chrome and Opera */
}
.ql-content-static {
    -webkit-touch-callout: unset; /* iOS Safari */
    -webkit-user-select: unset; /* Safari */
    -khtml-user-select: unset; /* Konqueror HTML */
    -moz-user-select: unset; /* Firefox */
    -ms-user-select: unset; /* Internet Explorer/Edge */
    user-select: unset; /* Non-prefixed version, currently by Chrome and Opera */
}

.ch_item:hover{ 
    background: lightblue;
}

.ch_item.vis:hover{ 
    background: goldenrod;
}

.btn-toolbar button {
    margin-left: .5rem;
}

.dragged {
    opacity: .25 !important;
}
.dragover {
    background: cyan !important;
}